PORT=8787
WEB_PUSH_VAPID_PUBLIC_KEY=BHEgyK2LpItiJFrT28XceIiHehAsbya5cg9v88hKDOUkCMcZciwBjgBeum5VQs247VTuSJceWwOaZas0WoI-eig
WEB_PUSH_VAPID_PRIVATE_KEY=jNxDs2rcrrFICZJsiPWAMHpyBhUMB9mfeFLPquSXZ3c
WEB_PUSH_VAPID_SUBJECT=mailto:admin@example.com
SUBSCRIPTIONS_FILE=./data/subscriptions.json
ALLOWED_ORIGINS=http://localhost:8000,https://cutelittlegoat.github.io
