PORT=8787
WEB_PUSH_VAPID_PUBLIC_KEY=TU_WSTAW_PUBLICZNY_KLUCZ_VAPID
WEB_PUSH_VAPID_PRIVATE_KEY=TU_WSTAW_PRYWATNY_KLUCZ_VAPID
WEB_PUSH_VAPID_SUBJECT=mailto:admin@example.com
SUBSCRIPTIONS_FILE=./data/subscriptions.json
ALLOWED_ORIGINS=https://cutelittlegoat.github.io,https://twojadomena.pl
